@media (max-width: 556px) {
    .contacts_body_layout{
        min-width: 300px;
        
    }
   

    .contacts_body_form{
        max-width:400px;
        
        padding: 5px;
    }
    .contacts_content{
        padding: 10px;
        margin: 0px auto;
        overflow-x: hidden;
    }
}


@media (min-width: 557px )and(max-width:930px) {
    .contacts_body_layout{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contacts_body_form{
        max-width:400px;
        margin:5px 0px;
        padding: 20px;
    }
    .contacts_content{
        padding: 60px;
        margin: 0px auto;
    }
}

@media  (min-width:930px){
    .contacts_body_layout{
        display: flex;
    }
    .contacts_content{
        padding: 60px;
        margin: 0px auto;
    }
}

.center{
    display: flex;
    flex-direction: column;
    align-items: center;
}



.contacts_title{
    max-width: 877px;
}

.contacts_title h1{
    font-size: 32px;
    font-weight: 800;
    color:blue;
    display: inline-block;
    padding-bottom: 20px;
    border-bottom: 2px solid blue;
    margin-bottom:20px;
}


.contacts_title span{
    font-size: 16px;
    color:gray;
    padding-bottom: 20px;
    margin-bottom:20px;
}


.contacts_body_geo{
    max-width: 440px;
    padding:20px;
    margin:5px 0px;
}

.contacts_body_form{
    max-width:400px;
    margin:5px 0px;
}

.contacts_data_item{
    display: flex;
    
}

.contacts_data_item_title {
    margin-left: 10px;
}

.contacts_data_item_title p{
    color:gray;
    font-size: 14px;
}

.shadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


